<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{reportTitle}}</title>
    <link rel="stylesheet" href="gvi-report.css" />
  </head>
  <body>
    <div class="document-wrapper">
      <div class="document">
        <div class="header">
          <div>
            <img src="{{logoUrl}}" alt="Company Logo" class="logo" />
          </div>
          <div class="company-name">Global Vision Inc.</div>
        </div>

        <div class="info-section">
          <div class="left-info">
            <div class="flex">GVI Model: <div class="normal-font ml-8">{{model}}</div></div>
          </div>
          <div class="right-info">
            <div class="flex">Date: <div class="normal-font ml-8">{{testDate}}</div></div>
            <div class="flex">Serial Number: <div class="normal-font ml-8">{{serialNumber}}</div></div>
          </div>
        </div>

          <div class="main-content">
            <div class="title">Instrument Calibration Report</div>

            <div class="instructions">
              <ol>
                <li>Apply the minimum differential pressure for the first test point.</li>
                <li>Confirm the Gauge pointer is at or below the desired dial test point.</li>
                <li>Apply the maximum differential pressure for the first test point.</li>
                <li>Confirm the gauge pointer is at or above the desired dial test point.</li>
                <li>If step 2 and 4 are true, then enter "Pass"</li>
                <li>Repeat steps 1-5 for the remaining test points.</li>
              </ol>
            </div>
              
              <div class="table-container">
                  <table class="calibration-table">
                      <thead>
                          <tr>
                              <th rowspan="2">Dial Test Point<br>USGPM</th>
                              <th colspan="2">Differential Pressure (PSI)</th>
                              <th rowspan="2">Pass / Fail</th>
                          </tr>
                          <tr>
                              <th>Min</th>
                              <th>Max</th>
                          </tr>
                      </thead>
                      <tbody>
                        {{#each calibrationSteps}}
                          <tr>
                            <td>{{gpm}}</td>
                            <td>{{psiMin}}</td>
                            <td>{{psiMax}}</td>
                            <td>{{../result}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                  </table>
              </div>
              
              <div class="note">
                  All test instruments (standards) used in the calibration of this instrument conform to ASME B40.100 and are traceable to N.I.S.T.
              </div>
          </div>
          
          <div class="signature-section">
            <div class="signature-line"><strong>Tested By:</strong> <span style="border-bottom: 2px solid black; margin-left: 10px; width: 200px;">{{tester}}</span></div>
          </div>
      </div>
    </div>
  </body>
</html>
